.qrcode-value-container {
    overflow: hidden;

    p {
        max-width: 350px;
        text-align: center;
        word-break: break-all;
        padding: 1em;

        &:after {
            content: '...';
        }
    }
}

button.generate-code-btn {
    margin: 50px auto;
    outline: none;
    border: 1px solid #333;
    color: #222;
    padding: 1em;
}